body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    border: 2px solid $color-principal;
   nav div .img-fluid{
        width: 370px;
        height: 140px;
        margin-bottom: 1.5rem;
    }
    nav div .nav-item{
        font-size: 20px;
        padding: 10px;
    }
    nav div .navbar-nav{
        margin-left: 30px;
        margin-top: 100px;
        padding: 20px;
     }
}
main{
    div .candle{
        margin:30px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        
    }
    div .candle__img{
        margin-top: 30px;
        display: flex;
        justify-content:space-around;
        align-items: center;
    }
    div div img{
        height: 400px;
        width: 400px;
        border: 5px solid $color-principal;
        border-style: double;
    }
    
    div .candle__title{
        margin-top: 30px;
        font-family: sans-serif;
        font-size: 30px;
        color: $color-texto;
        text-align: center;
        text-transform: capitalize;
        text-decoration: overline;
    }
    div .candle__p{
        font-family: sans-serif;
        font-size: 20px;
        color: $color-texto;
        text-align: center;
        margin-top:15px;
    }
    
    
} 
div .back-self{
    font-size: 20px;
    font-family:sans-serif;
    border: 2px solid $color-principal ;
    border-radius: 10px;
    background-color: $color-principal;
    text-decoration: none;
    margin: 50%;
    padding: 1%;
}
.footer{
        div .footer__img{
            height: 90px;
            width: 250px;
        }
        display: flex;
        justify-content: space-between;
        border:  2px solid  rgb(167, 164, 164);
        background-image: linear-gradient( to top, rgba(153, 149, 149, 0.671),  rgb(241, 240, 240));
        text-align: left;
        font-family: sans-serif;
        font-size: 16px;
        text-align: right;
        margin-top: 5%;
}

